
{% extends "base.html" %}

{% block body %}

<div class="admin-container">
    <div class="card-admin">
        <div class="card-header">
            <h2 class="card-title">messages</h2>
        </div>
        <div class="card-body">
            <div class="table-container">
                <table class="admin-table">
                    <thead>
                        <tr>
                         <th>Name</th>
                         <th> Number</th>
                         <th>Course</th>
                         <th>message</th>
                         <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for message in message%}
                         <tr>
                          <td>{{message.name }}</td>
                          <td>{{message.number }}</td>
                          <td>{{message.course }}</td>
                          <td>{{message.message}}</td>
                          <td>
                            <form method="post" action="{{ url_for('message.delete_message', message_id=message.id)}}" style="display:inline;" onsubmit="return confirm('Delete this message?');">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                <button type="submit" class="btn btn-danger btn-sm">
                                    <i class="fa-solid fa-trash"></i>
                                     delete
                                </button>
                            </form>
                    
                            </td>
                         </tr> 
                        {%endfor%}   
                    </tbody>
                </table>

            </div>

        </div>

    </div>

</div>
{%endblock%}

